
@font-face {
    font-family: StRyde-Regular;
    src: url(../fonts/StRyde-Regular.otf);
}
h1 {
	color: rgb( 57,57,47);
	font-size:4em;	
}
body {
	background-color:rgb(149, 143, 127);	
}
p {
	color: rgb( 57,57,47);
	font-size: 1.7em;
	font-family: StRyde-Regular,Helvetica,Arial,sans-serif;
	font-weight:lighter;
}
/* Inici Nav CSS*/
nav {
    height: 600px;
    width: 15%;
    left: 0px;
    background-color: red;
}
.noms {
    height: 50px;
    background-color: grey;
    line-height: 50px;
    text-align: center;
    border: solid 1px black;
background: -moz-linear-gradient(90deg, rgb(91, 91, 91) 11%, rgb(45, 45, 45) 100%);
background: -webkit-linear-gradient(90deg, rgb(91, 91, 91) 11%, rgb(45, 45, 45) 100%);
background: -o-linear-gradient(90deg, rgb(91, 91, 91) 11%, rgb(45, 45, 45) 100%);
background: -ms-linear-gradient(90deg, rgb(91, 91, 91) 11%, rgb(45, 45, 45) 100%);
background: linear-gradient(180deg, rgb(91, 91, 91) 11%, rgb(45, 45, 45) 100%);

}
/* Final Nav CSS*/