
@font-face {
    font-family: StRyde-Regular;
    src: url(../fonts/StRyde-Regular.otf);
}
h1 {
	color: rgb( 57,57,47);
	font-size:4em;	
}
body {
	background-color:rgb(149, 143, 127);	
}
p {
	color: rgb( 57,57,47);
	font-size: 1.7em;
	font-family: StRyde-Regular,Helvetica,Arial,sans-serif;
	font-weight:lighter;
}                   