
@font-face {
    font-family: StRyde-Regular;
    src: url(../fonts/StRyde-Regular.otf);
}
h1 {
	color: rgb( 57,57,47);
	font-size:4em;	
}
body {
	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;	
}
p {
	color: rgb( 57,57,47);
	font-size: 1.7em;
	font-family: StRyde-Regular,Helvetica,Arial,sans-serif;
	font-weight:lighter;
}
/* Inici Nav CSS*/
nav {
    height: 600px;
    width: 15%;
    left: 0px;
    
}
.noms {
    color: rgb(227, 227, 230);   
    height: 50px;
    background-color: grey;
    line-height: 50px;
    text-align: center;
background: rgb(102, 102, 102);
background: -moz-linear-gradient(90deg, rgb(102, 102, 102) 0%, rgb(79, 79, 79) 100%);
background: -webkit-linear-gradient(90deg, rgb(102, 102, 102) 0%, rgb(79, 79, 79) 100%);
background: -o-linear-gradient(90deg, rgb(102, 102, 102) 0%, rgb(79, 79, 79) 100%);
background: -ms-linear-gradient(90deg, rgb(102, 102, 102) 0%, rgb(79, 79, 79) 100%);
background: linear-gradient(180deg, rgb(102, 102, 102) 0%, rgb(79, 79, 79) 100%);
}
#noms_participants{
    list-style-type:none;
    padding:0px;
    margin:0px;
    }
/* Final Nav CSS*/


